
* {
  font-family: 'Nova Square', cursive;
 
}


#img-div {
  text-align: center;
  float: center;
  
}
#logo {
  width: 15%;
  height: 15%;
  float: center;
  padding-bottom: 10px;
  position: relative;
  top: 1px;
  
}
ul {
  
  list-style-type: none;
  float: left;
  background-color: #8CC63F;
  width: 100%;
  padding-bottom: 8px; 
}

#first {
  margin-left: 19%;
}
a, a:hover {
  text-decoration: none;
  float: left;
  padding: 7px 50px 0px 90px;
  color: black;
  
}
h2 {
  text-align: center;
  font-family: 'Nova Square', cursive;
  font-size: .8em;
  padding: 1em;
  margin-top: -1%;
  
}
#search {
  position: absolute;
  margin-left: 4em;
  right: 15px;
  margin-top: 3px;
}


#top_blog {
  displpay: inline-block;
  width: 15%;
}
.navbar {
  position: relative;
  top: 50%;
  
}
li {
  display: inline;
  
}
@media screen and (max-width:680px) {
  a, a:hover, .nav-list, #nav {
  text-decoration: none;
  display: block;
  color: black;

}
}
.btn {
 background-color: darkgrey;
 position: absolute;
 right: 1px;
 margin-top: 3px;
}
a:hover {

  
}

.navbar-fixed {
  position: fixed;
  top: 1%;
}
#right-align {
  float: right;
  width: 200px;
  margin-right: 0px;}
#left-align {
  float: left;
  width: 200px;
  margin-right: 0px;
}
#left-align-two {
  float: left;
  width: 200px;
  margin-right: 0px;
}

#center {
  float: left;
  width: 35%;
  margin-left: 17%;
  height: 35%;

}
#sample {
  width: 100%;
  height: 100%;
  
}
#top-photo {
  width: 20%;
  height: 20%;

}
.form {
  position: fixed;
  left: 16%;
  top:10%;
  background-color: darkgrey;
  width: 70%;
  height: auto;
}
#last-name {
  text-align: left;
  float: right;
  margin-right:10%;
  margin-top: 5%;
  font-size: 2em
}
#first-name {
  text-align: left;
  float: left;
  margin-left:10%;
  margin-top: 5%;
  font-size: 2em
}
#username {
  text-align: left;
  float: left;
  margin-left:10%;
  margin-top: 5%;
  font-size: 2em;
  width: 80%;
}
#email {
  text-align: left;
  float: left;
  margin-left:10%;
  margin-top: 5%;
  font-size: 2em;
  width: 80%;
}
#confirmemail {
  text-align: left;
  float: left;
  margin-left:10%;
  margin-top: 5%;
  font-size: 2em;
  width: 80%;

}
.sign-up {
  text-align: center;
}
.input-all {
  background-color: black;
}
.input-all:hover {
  background-color: lightgrey;
  color: black;
}
#submit-btn {
  float: left;
  margin-left:45%;
  margin-top: 5%;
  font-size: 2em;
  color: black;
  margin-bottom: 3%;
}
#sign-upbody {

}
#submit-btn:hover {
	background-color: #77B6EA;
}