extends layout

block content
	body
		header
			div#img-div 
				img#logo(src='http://res.cloudinary.com/blak3nick/image/upload/v1466537603/BetaStrong_Logo_b2s18e.png')
			h2#tagline Social media by lifters for lifters 
