extends layout

block content
	body.logo_div
		header
			div#img-div 
				img#logo(src='http://localhost:3000/images/AS_Logo.png')
			h2#tagline Social media by lifters for lifters 
		.navbar.navbar-default.navbar(role='navigation')
			ul
				li
					a(href='/Get-App')#first Get the App
				li
					a(href='/discover') Discover
				li
					a(href='/who') Who are We?
				li
					a(href='/signup') Signup
				li
					input(type="text", name="title", placeholder='User/Hashtag')#search
				li
					button.btn.btn-sm.i.fa.fa-search
		
		div.container
			div.row
				div.col-lg-10.col-md-12.col-sm-12.col-xs-12
					h1.who_we Who Are We?
					
					p Blake and Sara Nicholson created AlphaSTRONG while pursuing a better wway to log workouts and connect with the lifing community.
					p The goal of Alpha STRONG is to create a community of lifters and athletes that have a social media platform where they can not only share and log their achievments, pictures, thoughts and videos but also discover others who share similar passions.
					p Blake serves in the Air National Guard fulltime and in his offtime enjoys powerlifting, and web develoment. Sara is a Marketing director who lifts weights and designs websites in her spare time. 

					h1.who_we We Are AlphaSTRONG. 
					
		
				//- div.clearfix.visible-md


